rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isOwner() {
      return request.auth != null
        && request.auth.token.email == "lakadbd8@gmail.com"
        && request.auth.token.email_verified == true;
    }

    match /portfolio/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner();
    }
  }
}
